<%= form_with model: lyric, url: lyrics_path, local: true do |f| %>
  <%= f.text_field :word, placeholder: "詩" , rows: "3" %>
  <%= f.text_area :text, placeholder: "概要欄", rows: "2" %>
  <%= f.file_field :image, class: 'hidden' %>
  <%= f.text_field :name, placeholder: "タグ", class:"input-tag" %>
  <div id="search-result">
  </div>
  <%= f.submit "送信" %>
<% end %>