<div class="scroll" data-max="20" data-lastnum="2">
  <div class="contents">
    <div class="jscroll ">
      <% @lyrics.each do |lyric| %>
        <div class="content">
          <%= link_to "", lyric_path(lyric.id), method: :get, class: "link-content" %>
          <div class="hi-content">
            <div class="content-image">
              <%= image_tag lyric.image.variant(resize: '500x500'), class: 'lyric-image' if lyric.image.attached? %>
            </div>
            <span class="word"><%= lyric.word %></span>
          </div>
          <div class="low-content">
            <div class="left-content">
              <% if user_signed_in? %>
                <div id="likes_buttons_<%= lyric.id %>">
                  <%= render partial: 'likes/like', locals: { lyric: lyric } %>
                </div>
              <% end %>
            </div>
            <div class="right-content">
              <%= link_to lyric.user.nickname, user_path(lyric.user.id), method: :get %>
              <%= link_to image_tag(lyric.user.image.url, class: "icon-mini"), user_path(lyric.user.id)%>
            </div>
          </div>
        </div>
      <% end %>
      <div class="skill-list">
        <%= link_to_prev_page @lyrics, '前のページ', class: "prev" %>
        <%= link_to_next_page @lyrics, '次のページ', class: "next" %>
      </div>
    </div>
  </div>
</div>
