<div class="contents">
  <% @lyrics.each do |lyric| %>
    <div class="content">
      <span class="word">
        <%= lyric.word %>
      </span>
      <%= image_tag lyric.image.variant(resize: '500x500'), class: 'lyric-image' if lyric.image.attached? %>
      <div class="right-content">
        <%= link_to lyric.user.nickname, user_path(lyric.user.id), method: :get %>
        <%= link_to '詳細', lyric_path(lyric.id), method: :get %>
        <% if user_signed_in? && current_user.id == lyric.user_id %>
          <%= link_to '編集', edit_lyric_path(lyric.id), method: :get %>
          <%= link_to '削除', lyric_path(lyric.id), class: "delete-btn", method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# <div class="contents">
  <div class="content">
    <div class="upper-content">
      <div class="word">
        小さな絶望の積み重ねが、人を大人にさせる
      </div>
    </div>
    <div class="lower-content">
      <div class="user-name">
        ナナミン
      </div>
    </div>
  </div>
</div>
<div class="contents">
  <div class="content">
    <div class="upper-content">
      <div class="word">
        しがらみは忘れるものではなく、断ち切るものだ
      </div>
    </div>
    <div class="lower-content">
      <div class="user-name">
        クロロ
      </div>
    </div>
  </div>
</div> %>
