<%= render "shared/header" %>
<div class="scroll" data-max="20" data-lastnum="2">
  <div class="contents tem">

    <div class="content">
      <span class="show-word">
        <%= @lyric.word %>
      </span>
      <p><%= @lyric.text %></p>

      <%= @lyric.genre.name %>

      <div id="likes_buttons_<%= @lyric.id %>">
        <%= render partial: 'likes/like', locals: { lyric: @lyric } %>
      </div>

      <% if user_signed_in? && current_user.id == @lyric.user_id %>
        <div class="more">
          <%= link_to '編集', edit_lyric_path(@lyric.id), method: :get %>
          <%= link_to '削除', lyric_path(@lyric.id), method: :delete %>
        </div>
      <% end %>
    

        <% if user_signed_in? %>
          <%= render partial: 'comments/form', locals: { comment: @comment, lyric: @lyric } %>
        <% else %>
          <strong><p>ログインをしてください。</p></strong>
        <% end %>

        <div class="comments">
          <div id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
          </div>
        </div>

    </div>
  </div>
</div>