<%= render "shared/header" %>
<div class="scroll" data-max="20" data-lastnum="2">
  <div class="contents tem">
    <div class="content">
      <span class="show-word">
        <%= @lyric.word %>
      </span>
      <p><%= @lyric.text %></p>
      <h3>いいね件数: <%= @lyric.likes.count %></h3>
      
        <% if user_signed_in? && current_user.id == @lyric.user_id %>
          <div class="more">
            <%= link_to '編集', edit_lyric_path(@lyric.id), method: :get %>
            <%= link_to '削除', lyric_path(@lyric.id), method: :delete %>
          </div>
          <% if current_user.already_liked?(@lyric) %>
            <%= button_to 'いいねを取り消す', lyric_like_path(@lyric), method: :delete %>
          <% else %>
            <%= button_to 'いいね', lyric_likes_path(@lyric) %>
          <% end %>
        <% end %>
    </div>

    <div class="content com">
      <% if user_signed_in? %>
        <%= form_with(model: [@lyric, @comment], local: true) do |form| %>
          <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <% @comments.each do |comment| %>
          <div class="comment">
            <p>
              <%= image_tag(@user.image.url, class: "icon-mini") %>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
              <%= comment.content %>
            </p>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= link_to '削除', lyric_comment_path(comment.id), method: :delete %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>