<% sender = notification.sender %>
<% sended = notification.sended %>
<div class="content">
  <span>
    <%= link_to user_path(sender) do %>
      <%= image_tag(sender.image.url, class: "icon-mini")%>
      <strong><%= sender.nickname %></strong>
    <% end %>
    <%= "さんが" %>

    <% case notification.action
        when 'follow' %>
      <%= "あなたをフォローしました" %>
    <% when "like" %>
      <%= link_to("あなたの投稿",lyric_path(notification.lyric_id), class: "font-weight") %>
      <%= "にいいねしました" %>

    <% when 'comment' %>
      <% if notification.lyric.user_id == sended.id %>
        <%= link_to("あなたの投稿",lyric_path(notification.lyric_id), class: "font-weight") %>
      <% else %>
        <span>
          <%= link_to(lyric_path(notification.lyric_id)) do %>
            <%= image_tag(notification.lyric.user.image.url, class: "icon-mini") %>
            <strong>
              <%= notification.lyric.user.nickname + 'さんの投稿' %>
            </strong>
          <% end %>
        </span>
      <% end %>
      <%= "にコメントしました" %>
      <div class="p.text-muted.mb-0">
        <%= Comment.find_by(id: notification.comment_id)&.content %>
      </div>
    <% end %>
  </span>

  <div class="small text-muted text-right">
    <%= notification.how_long_ago%>
  </div>
</div>