<div class="scroll" data-max="20" data-lastnum="2">
  <div class="contents">
    <div class="user-content">
      <div class="hi-user-content">
        <div class="left-user-content">
          <img src=<%= @image %> class = "icon-image">
          <% if user_signed_in? && current_user.id == @id %>
            <div class="user-menu-content">
              <%= link_to(content_tag(:i, nil, class: 'fas fa-user-edit edit-icon-show gray'),edit_user_registration_path(@id), method: :get) %>
              <%= render "notifications/circle" %>
            </div>
          <% end %>
        </div>
        <div class="right-user-content">
          <div class="user-name-show">
            <div class="user-nickname">
              <h1><%= @nickname %></h1>
            </div>
            <div class="category-name">
              <%= @user.category.name %>
            </div>
          </div>
          <div class="follow-content">
            <%= link_to "フォロー: #{@user.followings.count}", followings_user_path(@user.id), class: "gray" %>
            <%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user.id), class: "gray" %>
          </div>
          <div class="follow">
            <%= render "relationships/follow_button", user: @user %>
          </div>
        </div>
      </div>

      <% if @profile.present? %>
        <div class="low-user-content">
          <p><%= @profile %></p>
        </div>
      <% end %>
      <div class="user-index">
        <div class="index">
          <%= link_to "リリック",'#', class: "gray lyrics-show-btn", remote: true %>
        </div>
        <div class="index">
          <%= link_to "いいね", user_path , class: "gray likes-show-btn", remote: true %>
        </div>
        <div class="index">
          <%= link_to "コメント", '#', class: "gray comments-show-btn", remote: true %>
        </div>
      </div>
    </div>

    <div id="content-area">
      <% @lyrics.each do |lyric| %>
        <%= render partial: 'content', locals: { lyric: lyric } %>
      <% end %>
    </div>

    <p>いいねした投稿</p>
    <% @user.likes.each do |like| %>
      <%= render partial: 'content', locals: { lyric: like.lyric } %>
    <% end %>

    <p>コメントした投稿</p>
    <% @user.comments.each do |comment| %>
      <%= render partial: 'content', locals: { lyric: comment.lyric } %>
    <% end %>

  </div>
</div>