<div class="side-content">
  <% if user_signed_in? %>
    <div class="user-show-content">
      <%= link_to 'プロフィール', user_path(current_user.id), method: :get, class: "gray" %>
    </div>
    <div class="user-edit-content">
      <div class="edit-icon">
        <%= link_to(content_tag(:i, nil, class: 'fas fa-user-edit gray'),edit_user_registration_path(@id), method: :get) %>
      </div>
      <div class="edit-word">
        <%= link_to '編集', edit_user_registration_path(@id), method: :get, class: "gray" %>
      </div>
    </div>
    <div class="user-profile-content">
      <div class="notice-icon">
        <%= render "notifications/circle" %>
      </div>
      <div class="notice-word">
        <%= link_to '通知', notifications_path(@id), method: :get, class: "gray" %>
      </div>
    </div>
  <% end %>
</div>