<div class="scroll" data-max="20" data-lastnum="2">
  <div class="container">
    <div class="contents">
      <div class="left-button">
        <%= link_to "ユーザー一覧に戻る", "/users/index",class:"edit-link" %>
      </div>
      <h4 class="rooms-title">気になる同士</h4>
      <% @entries.each do |e| %>
        <div class="user-name">
        <strong>
          <img src=<%= @image %> class = "icon-image">
          <a class="rooms-user-link" href="/users/<%= e.user.id %>">
            <%= e.user.nickname %>
          </a>
        </strong>
        </div>
      <% end %>
      <hr>
        <%= render partial: 'messages/index', locals: { messages: @messages } %>
    </div>
  </div>
</div>