<!DOCTYPE html>
<html>
  <head>
    <title>Lyricomic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-left">
        <h1 class="app_name"><a href="/">Lyricomic</a></h1>
      </div>
      <div class="header-right">
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to current_user.nickname, user_path(current_user.id)%>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
            <%= link_to "投稿", new_lyric_path, class: "create-lyric"%>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
